<div class="post-form_<%= @post.id %> inner-box box post-form" >
	<%= form_for @post, remote: true do |f| %>
		<%= f.text_field :title, class: 'form-title' %> <br />
		<%= f.text_field :description, class: 'form-description' %>
		<%= f.submit %>
	<% end %>
</div>
